@model LagunaShoreResort2.Models.RolSalesMember

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RolSalesMember</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rol.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salesMemeberID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salesMemeberID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rolSalesMemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
